<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {# <div style="
                /* display: flex;
                align-items: center;
                flex-direction: column; */
            ">
                    <div>
                        <a href="{{ path('app_product') }}">Produits</a>
                        <a href="{{ path('app_category') }}">Catégories</a>
                    </div>
                    <div>
                        <a href="{{ path('new_product') }}">Ajouter Produit</a>
                        <a href="{{ path('add_category') }}">Ajouter Catégorie</a>
                    </div>
            </div> #}

            {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">RETRY SYMFONY</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
            {% if currentPath == "/product" %}
                                <a class="nav-link {{ "active" }}" {{ "aria-current=\"page\"" }} href="{{ path('app_product') }}">Produits</a>
            {% else %}
                                <a class="nav-link" href="{{ path('app_product') }}">Produits</a>
            {% endif %}
                            </li>
                            <li class="nav-item">
            {% if currentPath == "/category" %}
                                <a class="nav-link {{ "active" }}" {{ "aria-current=\"page\"" }} href="{{ path('app_category') }}">Catégories</a>
            {% else %}
                                <a class="nav-link" href="{{ path('app_category') }}">Catégories</a>
            {% endif %}
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item me-2"><a class="btn btn-outline-success" href="{{ path('add_product') }}">Ajouter Produit</a></li>
                            <li class="nav-item me-2"><a class="btn btn-outline-success" href="{{ path('add_category') }}">Ajouter Catégorie</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
